/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
    height: 100%;
    position: relative;
    z-index: 1;
}

#weather-widget {
    top: 10px;
    right: 50px;
    position: absolute;
    z-index: 2;
}

#start-place {
    top: 10px;
    left: 110px;
    position: absolute;
    z-index: 2;
}

#final-place {
    top: 55px;
    left: 110px;
    position: absolute;
    z-index: 2;
}

#flags {
    top: 100px;
    left: 125px;
    position: absolute;
    z-index: 2;
}

#place-type {
    bottom: 190px;
    left: 110px;
    position: absolute;
    z-index: 2;
}

#weather {
    bottom: 145px;
    left: 125px;
    position: absolute;
    z-index: 2;
}

#distance {
    bottom: 100px;
    left: 125px;
    position: absolute;
    z-index: 2;
}

#time {
    bottom: 55px;
    left: 125px;
    position: absolute;
    z-index: 2;
}

#apply-filters {
    bottom: 10px;
    left: 140px;
    position: absolute;
    z-index: 2;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


