/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
    height: 100%;
    position: relative;
    z-index: 1;
}

#current-place {
    top: 10px;
    right: 50px;
    position: absolute;
    z-index: 2;
}

#weather-widget {
    top: 55px;
    right: 50px;
    position: absolute;
    z-index: 2;
    display: none;
}

#start-place {
    top: 10px;
    left: 110px;
    position: absolute;
    z-index: 2;
}

#final-place {
    top: 55px;
    left: 110px;
    position: absolute;
    z-index: 2;
}

#flags {
    top: 100px;
    left: 125px;
    position: absolute;
    z-index: 2;
}

#place-type {
    bottom: 202px;
    left: 110px;
    position: absolute;
    z-index: 2;
}

#weather {
    bottom: 157px;
    left: 125px;
    position: absolute;
    z-index: 2;
}

#distance {
    bottom: 112px;
    left: 125px;
    position: absolute;
    z-index: 2;
}

#time {
    bottom: 67px;
    left: 125px;
    position: absolute;
    z-index: 2;
}

#apply-filters {
    bottom: 22px;
    left: 140px;
    position: absolute;
    z-index: 2;
}

#place-list {
    bottom: 22px;
    right: 50px;
    position: absolute;
    z-index: 2;

    width: 20rem;
}

.card-header {
    padding: 0.25rem;
}

.list-group-item {
    padding: 0.25rem;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


